тело {
    размер шрифта: 24px;
}
стр. зеленый {
    цвет: зеленый;
}
p.red {
    цвет: красный;
}
стр.курсив {
    стиль шрифта: курсив;
}
стр. жирный {
    начертание шрифта: жирный;
}
ли.зеленый {
    цвет: зеленый;
}
ли.красный {
    цвет: красный;
}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}